<div class="panel-group category-products" id="accordian">
    {% for category in arrayTree[0].__children %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% if category.__children %}
                <a data-toggle="collapse" data-parent="#accordian" href="#{{ category.name }}">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    {{ category.name }}
                </a>
                {% else %}
                    <a href="#">{{ category.name }}</a>
                {% endif %}
            </h4>
        </div>
        {% if category.__children %}
            <div id="{{ category.name }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for children in category.__children %}
                            <li><a href="#">{{ children.name }} </a></li>
                         {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>