<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if product.photos|length %}
                <img src="/images/product-photo/{{ product.photos[0].fileName }}">
                {% else %}
                <img src="https://dummyimage.com/207x183">
                {% endif %}
                <h2>{{ product.price }} руб.</h2>
                <p>{{ product.name }}</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>{{ product.price }} руб.</h2>
                    <p>{{ product.name }}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Добавить в избранное</a></li>
            </ul>
        </div>
    </div>
</div>