{% extends 'base.html.twig' %}
{% block container %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{{ url('homepage') }}">Главная</a></li>
                    <li><a href="{{ url('order_index') }}">Заказы</a></li>
                    <li class="active">Заказ #{{ order.id }}</li>
                </ol>
            </div><!--/breadcrums-->
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Товар</td>
                        <td class="description"></td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Итого</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if order.items|length %}
                        {% for item in order.items %}
                            <tr>
                                <td class="cart_product">
                                    {% if item.product.photos|length %}
                                        <img src="/images/product-photo/{{ item.product.photos[0].fileName }}" style="width: 110px;">
                                    {% else %}
                                        <img src="https://dummyimage.com/110x110">
                                    {% endif %}
                                </td>
                                <td class="cart_description">
                                    <h4><a href="{{ path('catalog_product', {categoryId : item.product.category.id, productId: item.product.id}) }}">{{ item.product.name }}</a></h4>
                                    <p>Артикул: {{ item.product.code }}</p>
                                </td>
                                <td class="cart_price">
                                    <p>{{ item.price }} руб.</p>
                                </td>
                                <td class="cart_quantity">
                                    {{ item.quantity }}
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">{{ item.price * item.quantity }} руб.</p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>Данные о зказае</h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Кол-во товаров <span>{{ order.items|length }}</span></li>
                            <li>Стоимость заказа <span>{{ order.cost }} руб.</span></li>
                            <li>Стоимость доставки <span>{{ order.deliveryMethodCost }} руб.</span></li>
                            <li>Итого <span>{{ order.deliveryMethodCost + order.cost }} руб.</span></li>
                            <li>Метод доставки <span>{{ order.deliveryMethodName }}</span></li>
                        </ul>
                        {% if order.new %}
                            {{ include('order/_paid.html.twig', {order : order}, with_context = false) }}
                            <br><br>
                            {{ include('order/_reject.html.twig', {order : order, form : rejectForm}, with_context = false) }}
                        {% elseif order.canComplete %}
                            {{ include('order/_completed.html.twig', {order : order}, with_context = false) }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Адрес доставки <span>{{ order.deliveryAddress }}</span></li>
                            <li>Почтовый индекс <span>{{ order.deliveryIndex }}</span></li>
                            <li>Имя получателя <span>{{ order.userName }}</span></li>
                            <li>Контактный телефон <span>{{ order.userPhone }}</span></li>
                            <li>Статус заказа <span>{{ include('admin/order/_status.html.twig', {status : order.currentStatus}, with_context = false) }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
{% endblock %}