{{ form_start(form) }}
<div class="box-body">
    <div class="form-group">
        <label for="inputName">Название</label>
        {{ form_widget(form.name, {'class' : 'form-control', 'id' : 'inputName'}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        <label for="inputCode">Код</label>
        {{ form_widget(form.code, {'class' : 'form-control', 'id' : 'inputCode'}) }}
        {{ form_errors(form.code) }}
    </div>
    <div class="form-group">
        <label for="inputCategory">Основная категория</label>
        {{ form_widget(form.category.main, {'class' : 'form-control', 'id' : 'inputCategory'}) }}
        {{ form_errors(form.category.main) }}
    </div>
    <div class="form-group">
        <label for="inputOtherCategory">Дополнительные категории</label>
        {{ form_widget(form.category.other, {'class' : 'form-control', 'id' : 'inputOtherCategory'}) }}
        {{ form_errors(form.category.other) }}
    </div>
    <div class="form-group">
        <label for="inputBrand">Бренд</label>
        {{ form_widget(form.brandId, {'class' : 'form-control', 'id' : 'inputBrand'}) }}
        {{ form_errors(form.brandId) }}
    </div>
    <div class="form-group">
        <label for="inputPrice">Цена</label>
        {{ form_widget(form.price, {'class' : 'form-control', 'id' : 'inputPrice'}) }}
        {{ form_errors(form.price) }}
    </div>
    <div class="form-group">
        <label for="inputValues">Параметры</label><br>

        {% for value in form.values %}
            {{ form_widget(value, {'class' : 'form-control'}) }}
            {{ form_errors(value) }}
        {% endfor %}

    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-primary" formnovalidate>Сохранить</button>
</div>
{{ form_end(form) }}