{{ form_start(form) }}
<div class="box-body">
    <div class="form-group">
        <label for="inputName">Название</label>
        {{ form_widget(form.name, {'class' : 'form-control', 'id' : 'inputName'}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        <label for="inputCode">Код</label>
        {{ form_widget(form.code, {'class' : 'form-control', 'id' : 'inputCode'}) }}
        {{ form_errors(form.code) }}
    </div>

    <div class="form-group">
        <label for="inputPhoto">Фотографии</label><br>
        {{ form_widget(form.photo.files, {'class' : 'form-control', 'id' : 'inputPhoto'}) }}
        {{ form_errors(form.photo.files) }}
    </div>

    <div class="form-group">
        <label for="inputCategory">Основная категория</label>
        {{ form_widget(form.category.main, {'class' : 'form-control', 'id' : 'inputCategory'}) }}
        {{ form_errors(form.category.main) }}
    </div>
    <div class="form-group">
        <label for="inputOtherCategory">Дополнительные категории</label>
        {{ form_widget(form.category.other, {'class' : 'form-control', 'id' : 'inputOtherCategory'}) }}
        {{ form_errors(form.category.other) }}
    </div>
    <div class="form-group">
        <label for="inputBrand">Бренд</label>
        {{ form_widget(form.brandId, {'class' : 'form-control', 'id' : 'inputBrand'}) }}
        {{ form_errors(form.brandId) }}
    </div>
    <div class="form-group">
        <label for="inputPrice">Цена</label>
        {{ form_widget(form.price, {'class' : 'form-control', 'id' : 'inputPrice'}) }}
        {{ form_errors(form.price) }}
    </div>
    <div class="form-group">
        <label for="inputValues">Параметры</label><br>

        {% for value in form.values %}
            {{ form_widget(value, {'class' : 'form-control'}) }}
            {{ form_errors(value) }}
        {% endfor %}

    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-primary" formnovalidate>Сохранить</button>
</div>
{{ form_end(form) }}
{% if product is defined %}
    <div class="box-body">
        <div class="form-group">
            <label for="inputPhoto">Фотографии</label><br>
            <div class="row">
                <div class="col-sm-12">
                    {% for photo in product.photos %}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumbnail product-photo">
                                    <img src="/images/product-photo/{{ photo.fileName }}">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row admin-buttons-photo">
                                    <div class="col-sm-12">
                                        <a href="{{ path('admin_product_move_photo_up', {id: product.id, photoId: photo.id}) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;Переместить вверх</a>
                                    </div>
                                </div>
                                <div class="row admin-buttons-photo">
                                    <div class="col-sm-12">
                                        <a href="{{ path('admin_product_move_photo_down', {id: product.id, photoId: photo.id}) }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp;Переместить вниз</a>
                                    </div>
                                </div>
                                <div class="row admin-buttons-photo">
                                    <div class="col-sm-12">
                                        {{ include('admin/product/_delete_photo.html.twig', {product : product, photo : photo}, with_context = false) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-sm-12">
            <p>Нет загруженных файлов</p>
        </div>
    </div>
{% endif %}